body {
    background-image: url('/assets/backgrounds/home/smarthome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: aqua;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #41190f;
    height: 100%;
    width: 100%;
  }
  
