.mul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0; 
}

.mli {
    float: left;
}

.mli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mli a:hover {
    background-color: rgba(179, 223, 113, 0.431);
}

.mactive {
    background-color: #d2272770;
}