<html lang="en" class=" FB_FW_ext eidReader" data-lt-installed="true">

<head>
    <style data-merge-styles="true"></style>
    <meta charset="UTF-8">
    <title>CodePen - Navigation Bar - light/dark with zoeken</title>


    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/dl.css">
    <script src="/js/dark-light.js" defer></script>
</head>

<body>
    <nav>
        <div class="nav-bar">

            <div class="darkLight-zoekenBox">
                <div class="dark-light">
                    <i class="bx bx-moon moon"></i>
                    <i class="bx bx-sun sun"></i>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>